body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.top-section {
    display: flex;
    background: #1f2937;
    flex-wrap: wrap;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.body {
    display: flex;
    flex: 1;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 175px;
    margin-right: 175px;
}

.main-title {
    display: flex;
    font-size: 48px;
    font-weight: bolder;
    width: 400px;
    color: #f9faf8;
    margin: 0;
}

.sub-title {
    display: flex;
    width: 500px;
    font-size: 18px;
    font-weight: normal;
    color: #e5e7eb;
    margin: 0;
}

.signup {
    display: flex;
    width: 100px;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    color: #e5e7eb;
    background-color: #3882f6;
    border: 2px solid #3882f6;
    border-radius: 6px;
    margin-top: 10px;
}

.pic {
    height: 300px;
    width: 600px;
    margin-bottom: 50px;
}

.information {
    display: flex;
    justify-content: center;
    padding: 25px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.mid-section {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 100px;
}

.dog {
    max-width: 400px;
}

.doggy-image {
    height: 200px;
    width: 400px;
    border: 5px solid #3882f6;
}

.subtext {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}

.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.quote {
    margin: 0;
    text-align: center;
    width: 900px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 50px;
}

.quote figcaption,
.quote blockquote {
    margin: 1em;
}